<a href="https://colab.research.google.com/github/vinigm/Estudos/blob/main/Estudos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#62 - Dicionários**
---

Criando um dicionario qualquer e apresentando os dados

In [2]:
d1 = {'chave1':'valor da chave'} #criando o dicionario

print(d1) #printando o dicionario

d1['nova chave'] = 'valor da nova chave' #adicionando uma nova chave

print(d1['chave1'])

print(d1)

{'chave1': 'valor da chave'}
valor da chave
{'chave1': 'valor da chave', 'nova chave': 'valor da nova chave'}

In [3]:
d1 = {
    'str': 'valor',
    123: 'outro valor',
    (1,2,3,4,5) : 'Tupla',
}

print(d1) #printando o novo dicionario d1 com varios elementos

{'str': 'valor', 123: 'outro valor', (1, 2, 3, 4, 5): 'Tupla'}

Printando None caso não exista a chave dentro do meu dicionario

In [4]:
print(d1.get('naoexiste'))

None

Alterando o valor de uma chave dentro do dicionario

In [5]:
d1['str'] = 'agora essa chave é outra'

print(d1)

{'str': 'agora essa chave é outra', 123: 'outro valor', (1, 2, 3, 4, 5): 'Tupla'}

Apagando uma chave

In [6]:
del d1['str']

print(d1)

{123: 'outro valor', (1, 2, 3, 4, 5): 'Tupla'}

In [7]:
d1 = {
    'str': 'valor',
    123: 'outro valor',
    (1,2,3,4,5) : 'Tupla',
}

print('str' in d1.values()) #Encontrando se existe valores dentro das chaves - o retorno é Booleano

print(len(d1)) #retorna o tamanho do dicionario

False
3

In [8]:
d1 = {
    'chave1' : 'valor',
    'chave2' : 'valor dois',
    'chave3' : 'valor tres',
}

print("Printando toda chave:")
print(d1)

print("")

print("Printando um item da chave de cada vez:")
for k in d1.items():
  print(k)

print("")

print("Printando apenas os valores")
for k,v in d1.items():
  print(k,v)

Printando toda chave:
{'chave1': 'valor', 'chave2': 'valor dois', 'chave3': 'valor tres'}

Printando um item da chave de cada vez:
('chave1', 'valor')
('chave2', 'valor dois')
('chave3', 'valor tres')

Printando apenas os valores
chave1 valor
chave2 valor dois
chave3 valor tres

# **#66 - List Comprehension**

In [12]:

l1 = [1,2,3,4,5,6,7,8,9]
exemplo1 = [variavel for variavel in l1]
exemplo2 = [v * 2 for v in l1]
print(exemplo2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
exemplo3 = [(v, v2) for v in l1 for v2 in range(3)]
print(exemplo3)

[(1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (5, 0), (5, 1), (5, 2), (6, 0), (6, 1), (6, 2), (7, 0), (7, 1), (7, 2), (8, 0), (8, 1), (8, 2), (9, 0), (9, 1), (9, 2)]

Substituindo todos os A's por @'s

In [14]:
l2 = ['Luiz', 'Mauro', 'Maria']
exemplo4 = [v.replace('a', '@') for v in l2]

print(exemplo4)

['Luiz', 'M@uro', 'M@ri@']

Invertendo os valores

In [18]:
tupla = (
    ('chave', 'valor'),
    ('chave2', 'valor2'),
  )

exemplo5 = [(y,x) for x, y in tupla]
print(exemplo5)

[('valor', 'chave'), ('valor2', 'chave2')]

Pegando apenas os numeros que sao divisiveis por 2

In [21]:
l3 = list(range(100))
exemplo6 = [v for v in l3 if v % 2 == 0]
print(exemplo6)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

Numeros divisiveis por 3 e 8

In [22]:
l4 = list(range(100))
exemplo7 = [v for v in l4 if v % 3 == 0 if v % 8 == 0 ]
print(exemplo7)

[0, 24, 48, 72, 96]

In [24]:
l5 = list(range(100))
exemplo8 = [v if v % 3 == 0 else 0 for v in l5]
print(exemplo8)

[0, 0, 0, 3, 0, 0, 6, 0, 0, 9, 0, 0, 12, 0, 0, 15, 0, 0, 18, 0, 0, 21, 0, 0, 24, 0, 0, 27, 0, 0, 30, 0, 0, 33, 0, 0, 36, 0, 0, 39, 0, 0, 42, 0, 0, 45, 0, 0, 48, 0, 0, 51, 0, 0, 54, 0, 0, 57, 0, 0, 60, 0, 0, 63, 0, 0, 66, 0, 0, 69, 0, 0, 72, 0, 0, 75, 0, 0, 78, 0, 0, 81, 0, 0, 84, 0, 0, 87, 0, 0, 90, 0, 0, 93, 0, 0, 96, 0, 0, 99]

**EXERCICIO - LIST COMPREHENSION**

Criar a variavel:

string = '012345678901234567890123456789012345678901234567890123456789'

Separar de 0 a 9 de maneira que fique assim:

lista = ['0123456789', '0123456789', '0123456789', ... , '0123456789']

Após fazer isso retornar:

retorno = '0123456789.0123456789.0123456789.0123456789.0123456789...0123456789'