<a href="https://colab.research.google.com/github/vinigm/Estudos/blob/main/6_OnlineEducation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Students Adaptability Level in Online Education**
---

Dataset retirado do Kaggle: [LINK](https://www.kaggle.com/datasets/mdmahmudulhasansuzan/students-adaptability-level-in-online-education)

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/vinigm/Portfolio/main/Datasets/6_OnlineEducation')

In [3]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [4]:
len(df)

1205

In [5]:
df.shape

(1205, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [58]:
gender = list(df['Gender'].unique())
age = list(df['Age'].unique())
educ_level = list(df['Education Level'].unique())
inst_type = list(df['Institution Type'].unique())
it = list(df['IT Student'].unique())
location = list(df['Location'].unique())
load = list(df['Load-shedding'].unique())
financial = list(df['Financial Condition'].unique())
internet = list(df['Internet Type'].unique())
classdur = list(df['Class Duration'].unique())
self = list(df['Self Lms'].unique())
device = list(df['Device'].unique())
adapt = list(df['Adaptivity Level'].unique())

print(gender)
print(age)
print(educ_level)
print(inst_type)
print(it)
print(location)
print(load)
print(financial)
print(internet)
print(classdur)
print(self)
print(device)
print(adapt)

['Boy', 'Girl']
['21-25', '16-20', '11-15', '26-30', '6-10', '1-5']
['University', 'College', 'School']
['Non Government', 'Government']
['No', 'Yes']
['Yes', 'No']
['Low', 'High']
['Mid', 'Poor', 'Rich']
['Wifi', 'Mobile Data']
['3-6', '1-3', '0']
['No', 'Yes']
['Tab', 'Mobile', 'Computer']
['Moderate', 'Low', 'High']